.app-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #1565c0;
  color: white;
  font-size: 20px;
}

.app-header nav ul {
  list-style: none;
  padding: 0;
}

.app-header nav ul li {
  display: inline;
  margin: 0 15px;
}

.app-header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.app-header nav ul li a:hover {
  text-decoration: underline;
}